<div class="content">
  <form action="../<%= params[:filename] %>" method="post">
    <% File.open("#{@path}", "r") do |f| %>
    <label class="label">Edit Memo</label>
    <%# textarea内改行抑止のため1行で書いた %>
    <textarea name="message" rows="10" cols="50" class="textarea"><% f.each_line do |line| %><%= line.gsub(/\R/, "&#13;") %><% end %></textarea>
    <% end %>
</div>
<div class="field is-grouped">
  <div class="control">
    <input type="hidden" name="_method" value="patch">
    <input type="submit" value="Submit" class="button is-primary">
    </form>
  </div>
  <div class="control">
    <a href="/" class="button is-light">Cancel</a>
  </div>
</div>
