<div class="content">
  <form action="../<%= params[:id] %>" method="post">
    <label class="label">Edit Memo</label>
    <textarea name="message" rows="10" cols="50" class="textarea"><%= h(@message) %></textarea>
</div>
<div class="field is-grouped">
  <div class="control">
    <input type="hidden" name="_method" value="patch">
    <input type="submit" value="Submit" class="button is-primary">
    </form>
  </div>
  <div class="control">
    <a href="/" class="button is-light">Cancel</a>
  </div>
</div>
