<% if !@paths.nil? %>
<div class="list is-hoverable">
  <% @paths.each do |path|%>
  <a href=<%= path.gsub(/texts|.txt/,"") %> class="list-item"><%= File.open("#{path}", "r") { |f| f.gets } %></a>
  <% end %>
  <% end %>
</div>
<div class="container">
  <a href="new" class="button is-primary">Create</a>
</div>
