<% if !@ids.nil? %>
<div class="list is-hoverable">
  <% @ids.each do |id|%>
  <a href=<%= id %> class="list-item"><%= Memo.new.title(id) %></a>
  <% end %>
  <% end %>
</div>
<div class="container">
  <a href="new" class="button is-primary">Create</a>
</div>
