<% if @memos.ntuples > 0 %>
<div class="list is-hoverable">
  <% @memos.each do |memo| %>
  <a href="<%= memo["id"] %>" class="list-item"><%= title(h(memo["message"])) %></a>
  <% end %>
  <% end %>
</div>
<div class="container">
  <a href="new" class="button is-primary">Create</a>
</div>
