<div class="content">
  <form action="/" method="post">
    <label class="label">New Memo</label>
    <div class="control">
      <textarea name="message" class="textarea"></textarea>
    </div>
</div>
<div class="field is-grouped">
  <div class="control">
    <input type="submit" value="Submit" class="button is-primary">
  </div>
  <div class="control">
    <a href="/" class="button is-light">Cancel</a>
  </div>
</div>
</form>
