<div class="box">
  <p>
    <%= @texts %>
  </p>
</div>
<div class="field is-grouped">
  <div class="control">
    <a href="<%= params[:id] %>/edit" class="button is-primary">Edit</a>
  </div>
  <div class="control">
    <form action="../<%= params[:id] %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Delete" class="button is-danger">
    </form>
  </div>
  <div class="control">
    <a href="/" class="button is-light">Cancel</a>
  </div>
